*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.whole{
    background-color: #2980b9;
}
/* nav barre */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    margin: 1.25em;
    font-weight: 900;
    font-size: 1.15rem;
    color: white;

    border: 2px solid white;
    text-transform: uppercase;
    transition: color 0.2s linear;
    cursor: pointer;
    margin: 1em;
    padding: 0.8em;
}
nav ul li:hover{
    margin: 1.25em;
    font-weight: 900;
    font-size: 1.15rem;
    background-color: #FFFAE7;
    border: 2px solid white;
    text-transform: uppercase;
    transition: color 0.4s linear;
    cursor: pointer;
    margin: 1em;
    padding: 0.8em;
}
nav ul li:hover{
    color: #2980B9;
}
/* added animation */
/* nav ul li{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
nav ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fffae7;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
nav ul li::before{
    transform: scaleX(0);
}
nav ul li:hover::before{
    transform: scaleX(1);
} */
/* end */
.first-half{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10em;
}

.first-half-txt-container{
    display: flex;
    justify-content: center;
    align-self: center;
}

.first-half-txt{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFAE7;
}

.second-half{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4em;
    background-color: #3498db;
}

.second-half-h2{
    font-weight: 900;
    color: #FFFAE7;
    font-size: 2rem;
}
.second-half-txt-container{
    margin: 2rem;
}
.second-half-p{
    color: #FFFAE7;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    font-weight: 400;

}
/* Comments of my colleagues section  */

.comments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 6em;
}
.color1{
    color: #FFFAE7;
    font-weight: 900;
    font-size: 1.5em;
}
.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.username, .msg{
    text-align: center;
}
.comment-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.comment-section-title{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.25em;
    color: #FFFAE7;

}
/* BUTTON */
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.button{
    font-family: 'Kalam', sans-serif;
    font-weight: 900;
    color: #2980b9;
    font-size: 1.25em;
}
button{
    border: none;
    border-radius: 20px;
    background-color: #FFFAE7;
    padding: 0.9375em;
    padding-left: 1.875em;
    padding-right: 1.875em;
    display: flex;
    align-self: center;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    
    transform: scale(1.1);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.459);
}
.button:hover{
    color: #2980b9;
}
.msg{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.25em;
    color: #FFFAE7;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-color: #227093;
}
.footer-txt{
    color: #FFFAE7;
}

/* MEDIA QUERY */
/* Desktop/laptop */
@media (min-width: 1024px) { ... }

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) { ... }

/* Mobile */
@media (max-width: 767px) { ... }